h1{
   margin-left: 25px;
   color:gold;
}
.home{
float: right;
color: gold;
font-size: 20px;
}
a:visited {
  color: gold;
  background-color: transparent;
  text-decoration: none;
}
body{
background-image:url('kulali-abstract-swirl.jpg');
color:gold;
font-size:20px;
line-height:1.3em;
}

a:hover{
        color:red;
       }
.block{
float: left;
width: 25%;
box-sizing:border-box;
}
.clr{
clear:both
}
img{
max-width: 100%;
}
.container{
width:80%;
margin:auto;
overflow:hidden;
}
#main{
  float:right;
  width:960px;
  background:light blue;
  font-family:Arial nova;
  color:gold;
   padding:0 5%;
   border:10px double gold;
  box-sizing:border-box;
  }
.my-image{
border:20px solid gold;
float:left;
width:500px;
height;175px;
margin:20px;
}
#my-interests{
color:gold;
}




